//extends layout

block content
  h1 Students

  table
    thead
      tr
        th Id
        th Name
        th Email
        th Age
        th Dob

    tbody
      each student in students
        tr
            td= student.id
            td= student.name
            td= student.email
            td= student.age
            td= student.dob
